lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

_Archive
node_modules

.DS_Store
Icon
Icon?
Thumbs.db
._*
.Spotlight-V100
.Trashes
.idea

config/config.local.php

system/sys/expressionengine/cache/*
!system/sys/expressionengine/cache/index.html

system/backup/*
!system/backup/index.html

backup/
thumbs/
_thumbs/
sized/
made/
remote/

import/*
downloads/*
!downloads/index.html

contents/_system/*
contents/general/*

!contents/_system/avatars/index.html
!contents/_system/captchas/index.html
!contents/_system/member_photos/index.html
!contents/_system/pm_attachments/index.html
!contents/_system/signature_attachments/index.html
!contents/_system/smileys/index.html
!contents/general/index.html

images/avatars/*
images/captchas/*
images/member_photos/*
images/pm_attachments/*
images/signature_attachments/*
images/smileys/*
images/uploads/*
images/industry_directory/*
images/locations/*

!images/avatars/index.html
!images/captchas/index.html
!images/member_photos/index.html
!images/pm_attachments/index.html
!images/signature_attachments/index.html
!images/smileys/index.html
!images/uploads/index.html
!images/industry_directory/index.html
!images/locations/index.html

node_modules
tests
