/* === Reset */
@import "framework/normalize";

/* === Third party frameworks & libraries */
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../bower_components/susy/sass/susy";

/* === Mixins & Helpers */
@import "mixins/transitions";
@import "mixins/helpers";

@mixin font-1 {
	font-family: Calibri, Arial, sans-serif; 
}

$max-width: 1024px;

$font-size-default: 18px;

$color-orange: #f93d01;

body {
	@include font-1;
}

p,
ul {
	font-size: $font-size-default;
	line-height: 1.5em;
}

ul {
	padding-left: 20px;

	li {
		margin-bottom: 1em;
	}
}

.heading {
	font-style: italic;
	font-size: 36px;
	text-align: center;
	margin: 0 0 30px;
	font-weight: bold;
	line-height: 1.1em;
}

* + .heading {
	margin-top: 30px;
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;

	& > .inner,
	& > .columns {
		max-width: $max-width;
		margin: auto;
	}

	& > .inner {
		padding: 0 30px;
	}
}

.columns {
	&.col-2 {
		font-size: 0;

		.col {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			font-size: $font-size-default;
			padding: 0 30px;
		}
	}
}

.page-container {
	padding-top: 81px;
}

.site-header {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 4px solid $color-orange;
	font-size: 0;
	padding: 10px 15px;
	background: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);

	.site-title {
		display: inline-block;
		vertical-align: top;
		font-size: 48px;
		text-transform: uppercase;
		color: $color-orange;
		margin: 0 15px;
		line-height: 1.2em;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.contact-buttons {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		font-size: 0;
		margin: 0 15px;
		padding-top: 14px;
		
		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			color: $color-orange;
			margin: 0 10px;

			svg {
				@include transition(all 0.2s ease-out);
				width: 100%;
				height: 100%;
				fill: $color-orange;
				opacity: .8;
				transform: scale(1);
			}

			&:hover {
				svg {
					fill: darken($color-orange, 10);
					opacity: 1;
					transform: scale(1.1);
				}
			}
		}
	}
}

.logo-intro {
	position: relative;
	background-color: #010a0c;
	background-image: url(../img/hero-1.jpg);
	background-position: center center;
	background-size: cover;
	color: #fff;
	text-align: center;
	min-height: 800px;
	border-bottom: 4px solid $color-orange;

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: $max-width;
		transform: translate(-50%, -50%);
		padding: 30px 60px 40px;
	}

	.site-logo {
		width: 120px;
		height: 130px;
		margin: auto;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.heading {
		font-size: 60px;
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.scroll-notice { 
		max-width: 600px;
		margin: auto;
		font-size: 28px;

		&:after {
			content: "\25bc";
			display: block;
			padding-top: 15px;
			font-size: 30px
		}
	}
}		


.big-text {
	position: relative;
	background-color: #010a0c;
	background-position: center center;
	background-size: cover;
	color: #fff;
	border-width: 4px 0;
	border-style: solid;
	border-color: $color-orange;

	.inner {
		min-height: 300px;
	}

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: $max-width;
		transform: translate(-50%, -50%);
		padding: 30px 60px 40px;
	}

	.heading {
		font-size: 60px;
		margin: 0;
	}

	p {
		font-style: italic;
		font-size: 48px;
		text-align: center;
		font-weight: bold;
		line-height: 1.1em;
	}

	.heading + p,
	p + p {
		margin-top: 60px;
	}
}


.mission {
	background-image: url(../img/hero-2.jpg);
}

.location-quote {
	background-image: url(../img/hero-3.jpg);
}

.outlined {
	border: 2px solid #5e5f5f;
	padding: 30px 30px 40px;
}

.faded-overlay {
	position: relative; 

	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #333;
		opacity: 0.8;
	}

	.inner {
		position: relative;
		height: 100%;
		z-index: 2;
	}
}

.services {

	.heading {
		color: $color-orange;
	}
}

.values {


	.heading {
		color: $color-orange;
	}
}

.testimonials {

	.heading {

	}

	blockquote {
		margin: 0;
		text-align: center;
		font-style: italic;

		p {
			&:first-of-type {
				&:before {
					content: "\201C";
				}
			}
			&:last-of-type {
				&:after {
					content: "\201D";
				}
			}
		}

		cite {	
			&:before {
				content: "\2014";
			}
		}
	}
}

.contact-form {

	.heading {

	}

	form {

		.field {

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			label {
				font-size: $font-size-default;
				display: block;
				padding-bottom: 10px;
				font-weight: bold; 
			}

			input,
			textarea {
				font-size: $font-size-default;
				width: 100%;
				display: block;
				line-height: 1.4em;
				padding: 4px 8px;
			}

			input {

			}

			textarea {
				height: 12em;
				resize: vertical;
			}
		}

		.form-submit {
			text-align: right;
		}
	}
}

button {
	@include transition(all 0.2s ease-out);
	font-size: 20px;
	display: inline-block;
	background: #414042;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 15px;
	border: 2px solid #fff;

	&:hover {
		background: #fff;
		color: #414042;
		border-color: #414042;
	}

	&[type="submit"] {
		margin: 30px;
	}
}